extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let Novelid = toShow._id
    - let Novel_type = toShow.Novel_type
    - let Novelcost = toShow.cost
    - let Novelsize = toShow.size

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{Novelid}

    - let actionid = "/resource/Novels/" + Novelid
    form(id='NovelForm', action= actionid, method="PUT")
      div.form-group
        label.NovelAttr(for='Novel_type') Novel type
        input#Novel_type(type='text', name='Novel_type', value= Novel_type)

      div.form-group
        label.NovelAttr(for='size') Novel size
        input#size(type='text', name='size', value= Novelsize)

      div.form-group
        label.NovelAttr(for='cost') Novel cost
        input#cost(type='number', name='cost', value= Novelcost)

      input(type="submit")

    script.
      document.forms['NovelForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error);
        });
      });